.cabecalho{
    display: flex;
    margin: 0;
    background-color: hotpink;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.titulo{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    font-size: 4rem;
    margin-left: 10px;
    color: aliceblue;
}


